@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #fe2c55;
  --white: #fff;
  --dark-blue: #161823;
  --header-height: 60px;
  --content-max-width-destop: 1150px;
  --default-layout-horizontal-spacer: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: var(--dark-blue);
  color: var(--white);
}

button,
input,
[tabIndex] {
  outline: none;
  border: none;
}

button {
  cursor: pointer;
}

a[href] {
  color: var(--white);
  text-decoration: none;
}
