.menu-items {
  min-width: 224px;

  .menu-item {
    margin-left: 0;
    display: flex;
    width: 100%;
    background-color: transparent;
    color: var(--white);
    gap: 4px;
    align-items: center;
    border-radius: 0;
    padding: 11px 16px;

    &:hover {
      background-color: #3c415e;
    }
  }
}
